.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; 
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-links a {
    color: #888;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fff;
}

.nav-btn {
    background: #fff;
    color: #000 !important;
    padding: 10px 24px;
    border-radius: 100px;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.hero-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hero-left {
    max-width: 60%;
}

.badge {
    background: #1a1a1a;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 24px;
    display: inline-block;
}

.title {
    font-size: 80px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -3px;
}

.title span {
    color: #444;
}

.hero-right {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.description {
    color: #888;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.stats {
    display: flex;
    gap: 40px;
}

.stat-item strong {
    display: block;
    font-size: 32px;
}

.stat-item span {
    color: #555;
    font-size: 14px;
    text-transform: uppercase;
}
.experience-section {
    min-height: 100vh;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title {
    font-size: 65px;
    font-weight: 800;
    margin-bottom: 60px;
    letter-spacing: -2px;
}

.section-title span {
    color: #444;
}

.experience-list {
    display:flex;
    gap:30px;
    width: 100%;
}

.experience-card {
    flex:1;
    background: #111;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #222;
    transition: 1s ease;
}

.experience-card.active {
    background: #1a1a1a;
    border-color: #333;
}

.card-header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #888;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.experience-card h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.6;
}

.view-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

@media (max-width: 800px) {
    .navbar {
        padding: 20px;
    }
    .nav-links {
        display: none;
    }
    .title, .section-title {
        font-size: 48px;
        letter-spacing: -1px;
    }
    .experience-section {
      padding: 60px 20px;
    }
    .card-header {
        flex-direction: column;
        gap: 5px;
    }
    .hero-content,
    .hero-container,
    .experience-list {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    .hero-left,
    .hero-right,
    .experience-card {
        max-width: 100%;
        width: 100%;
    }
}

.skills-section {
    min-height: 100vh;
    padding: 100px 80px;
    display: flex;
    align-items: center;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.skills-left {
    flex: 1;
}

.skills-grid {
    flex: 1.5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;
}

.skill-item {
    background: #111;
    border: 1px solid #222;
    padding: 25px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    transition: 0.3s ease;
}

.skill-item:hover {
    border-color: #fff;
    background: #1a1a1a;
    transform: translateY(-5px);  
}

 

@media (max-width: 1024px) {
    .skills-content {
        flex-direction: column;
        text-align: center;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .skills-grid {
        grid-template-columns: 1fr; 
    }
    
    .skills-section {
        padding: 60px 20px;
    }
}